.page-title {
    color: #000000;
    font-size: 54px;
    font-weight: 500;
    left: 5vw;
    letter-spacing: 0.25px;
    line-height: normal;
    position: absolute;
    top: 5vh;
    width: 655px;
}

.bordered-elem {
    border: 3px solid;
    border-color: #000000;
    border-radius: 2vw;
}


#playlist-name {
    height: 10vh;
    left: 5vw;
    position: absolute;
    top: 25vh;
    width: 20vw;
    padding-left: 20px;
    padding-right: 20px;
}


#url {
    height: 10vh;
    left: 35vw;
    position: absolute;
    top: 25vh;
    width: 56.5vw;
    padding-left: 20px;
    padding-right: 20px;
}

#description {
    height: 30vh;
    left: 5vw;
    position: absolute;
    top: 40vh;
    width: 86vw;
    padding: 2vw;
}

#submit-button {
    background-size: 100% 100%;
    height: 10vh;
    left: 35vw;
    position: absolute;
    top: 85vh;
    width: 30vw;
    background-color: #97B69E;
    font-size: 24px;
}

#url, #description, #playlist-name {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.25px;
    line-height: normal;
    text-align: left;
    background-color: rgb(232, 209, 180);
}

#url, #description, #submit-button, .page-title, #playlist-name {
    font-family: "Rokkitt", Helvetica;
}

.circular-button {
    border: 1.5px solid;
    border-color: #000000;
    border-radius: 1vw;
    mix-blend-mode: multiply;
    position: absolute;
    height: 4vw;
    width: 4vw;
    display: flex;
    justify-content: center;
}

h1 {
    font-family: "Rokkitt", Helvetica;
}

#app-name {
    left: 2vw;
    letter-spacing: 0.25px;
    line-height: normal;
    position: absolute;
    top: 1vh;
    font-size: 30px;
}

#logout {
    left: 78vw;
    top: 4vh;
    position: absolute;
}

#leaderboard {
    left: 83vw;
    top: 4vh;
    position: absolute;
}

#post {
    left: 88vw;
    top: 4vh;
    position: absolute;
}

#discover {
    left: 93vw;
    top: 4vh;
    position: absolute;
}

.not_round_button_icon {
    position: absolute;
    width: 3vh;
    height: 3vh;
    bottom: 25%;
    left: 2vh;
}

.button-icon {
    position: absolute;
    width: 50%;
    height: 50%;
    bottom: 25%;
    left: 25%;
}

.rounded_button {
    border: 2px solid;
    border-color: #000000;
    border-radius: 1vw;
    mix-blend-mode: multiply;
    position: absolute;
    height: 4vw;
    width: 40vw;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.25px;
    line-height: 25%;
    text-align: center;
    font-family: "Rokkitt", "Helvetica";
    scale: 0.9;
}

#home_leaderboard {
    left: 30vw;
    top: 50vh;
    position: absolute
}

#home_post {
    left: 30vw;
    top: 58vh;
    position: absolute

}

#home_random {
    left: 30vw;
    top: 66vh;
    position: absolute
}

#home_logout {
    left: 30vw;
    top: 74vh;
    position: absolute
}

#BIG_HOME_APP_NAME {
    margin: auto;
    width: 100%;
    text-align: center;
    color: #000000;
    font-size: 120px;
    font-weight: 500;
    top: 24vh;
    letter-spacing: 1px;
    line-height: normal;
    position: absolute;
    font-family: "Rokkitt", "Helvetica";
}

#upvote {
    height: 3vh;
    width: 3vw;
    left: 24vw;
    position: absolute;
    top: 66.3vh;
    padding: 3vw;
    background-color:#97B69E;
    scale: 0.7;
}

#downvote {
    height: 3vh;
    left: 29.5vw;
    position: absolute;
    top: 66.3vh;
    width: 3vw;
    padding: 3vw;
    background-color: #FB7F7F;
    scale: 0.7;
}

#embed-placeholder {
    height: 60vh;
    width: 60vw;
    padding-left: 1vh;
    padding-right: 1vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    position: absolute;
    left: 19vw;
    top: 10vh;
    background-color: #c9a992;
    scale: .8;
}

#post-info {
    position: absolute;
    left: 36.5vw;
    top:  68.5vh;
    font-size: 20px;
    width: 38vw;
    height: 5vh;
    font-family: "Rokkitt", "Helvetica";
}

.results {
    height: 2vh;
    width: 4vw;
    font-family: "Rokkitt", "Helvetica";
    font-size: 16px;
    text-align: center;
}

#fire-results {
    left: 25.2vw;
    top: 78vh;
    position: absolute;
    color: #97B69E;
}

#trash-results {
    left: 30.75vw;
    top: 78vh;
    position: absolute;
    stroke: #000000;
    color: #FB7F7F;

}

#try_again {
    left: 22.5vw;
    top: 87vh;
    position: absolute;
    height: 4vw;
    width: 55vw;
}

#login_button {
    left: 30vw;
    top: 58vh;
    position: absolute
}

.leaderboard {
    overflow-x: scroll;
    position:absolute;
    bottom: 7%;
    left: 15%;
    width:70%;
}
#leaderboard-columns-start {
    background-color: #A296E8;
    border-color: #A296E8;
    letter-spacing: 0.75px;
    font-size: 10px;
    height: 30px;
}
td {
    padding-left: 1%;
    font-family: "Rokkitt", Helvetica;
}
.playlist-info-0 {
    background-color: #BA99C9;
}
.playlist-info-1 {
    background-color: #BFA1C4;
}
.playlist-info-0, .playlist-info-1 {
    height:30px;
}







